:root {
    --primary-color-1: #58a7e7;
    --primary-color-2: #3b7eb6;
    --primary-color-3: #0069be;
    --error-color: rgb(255, 153, 153);
    --approved-color: rgb(129, 216, 129);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
    font-weight: 200;
    color: black;
}

body {
    background: var(--primary-color-2);
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 22px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-30 {
    font-size: 30px;
}

.user-form__wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.user-form__inner {
    width: 400px;
    background: white;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    box-shadow: 0 0 4px 0 black;
    border-radius: 10px;
}

.user-form__input {
    width: 100%;
    padding: 7px 9px;
    border: 1px solid var(--primary-color-1);
    border-radius: 5px;
}

.user-form__label-input-block {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 5px 0;
}

.user-form__submit-button {
    background: var(--primary-color-3);
    color: white;
    font-size: 20px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 10px 0 0 0;
}

.user-form__link {
    color: var(--primary-color-1);
}

.user-form__errors-block {
    background-color: var(--error-color);
    color: white;
    padding: 10px 15px;
}

.text-center {
    text-align: center;
}

.header {
    width: 100%;
}

.header__inner {
    height: 80px;
    background: white;
    box-shadow: 0 0 4px 0 black;
    padding: 10px 40px 15px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__navigation {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    align-items: center;
    height: 100%;

}

.logout-button {
    border: none;
    background: none;
    cursor: pointer;
}

.logo__link {
    color: black;
    font-size: 30px;
    padding: 8px 0;
}

.logo__custom-text {
    color: var(--primary-color-1);
    font-size: 30px;
}

.main__wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}

.task-list__element {
    background: white;
    padding: 30px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 40px;
    row-gap: 20px;
    box-shadow: 0 0 4px 0 black;
    border-radius: 10px;
    margin: 20px 0;
}

.task-list__buttons {
    width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.task-list__button-complete {
    width: 100%;
    height: 50px;
    background: var(--approved-color);
    cursor: pointer;
    border: 2px solid rgb(0, 161, 8);
    font-size: 20px;
    border-radius: 10px;
    color: white;
}

.task-list__button-delete {
    width: 100%;
    height: 50px;
    background: var(--error-color);
    cursor: pointer;
    border: 2px solid rgb(255, 22, 22);
    font-size: 20px;
    border-radius: 10px;
    color: white;
}

.task-list__content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
}

.task-list__name-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 5px;
}

.color-approved {
    color: rgb(0, 209, 0);
}

.color-error {
    color: rgb(255, 78, 78);
}

.task-list__element {

}

.task-list__label-input-block {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 5px 0;
}

.task-list__input {
    width: 500px;
    padding: 7px 9px;
    border: 1px solid var(--primary-color-1);
    border-radius: 5px;
}

.task-list__textarea {
    height: 100px;
    width: 500px;
    padding: 5px 0;
    padding: 7px 9px;
    border: 1px solid var(--primary-color-1);
    border-radius: 5px;
}

.task-list__button-submit {
    background: var(--primary-color-3);
    color: white;
    font-size: 20px;
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin: 10px 0 0 0;
}

.task-list--error {
    width: 400px;
}